li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
body {
  text-align: center;
}

#wrapper {
  width: 1445px;
  margin: 0 auto;
}
nav {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
.top-menu {
  float: left;
  width: 100%;
  border-bottom: 1px solid #828282;
  overflow: hidden;
  position: relative;
}
.top-menu ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
.top-menu ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 155.65px 31.92px 0;
  padding: 0;
  position: relative;
  right: 50%;
}
.top-menu ul li a {
  display: block;
  margin: 0 0 0 1px;
  padding: 3px 10px;

  color: #828282;
  text-decoration: none;
  line-height: 1.3em;
}
.top-menu ul li a.active,
.top-menu ul li a.active:hover {
  color: #070707;
}
.menu_first {
  margin-left: 0px;
}
.menu_last {
  margin-right: 0px;
}
.zagolovok {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.part_grey {
  color: #828282;
}
.middle_zagolovok {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
.bblock1 {
  float: left; /*Задаем обтекание*/

  padding: 10px;
  margin-right: 5px;
  text-align: center; /*Центрируем текст по горизонтали*/
}

.bblock2 {
  padding: 10px;
  margin-right: 5px;
  margin: 0 10px 0 0;
  text-align: center; /*Центрируем текст по горизонтали*/
}
.bblock3 {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #070707;
  transform: rotate(-90deg);
  padding: 10px;
  margin-right: 5px;
  text-align: center; /*Центрируем текст по горизонтали*/
}
.bblock4 {
  text-align: center; /*Центрируем текст по горизонтали*/
}
.hero {
  /* margin: 39.69px, 0, 0, 0; */
  width: 100%;
  height: 1px;
  clear: both;
}
.hero_item {
  width: 500px;

  float: left;
  margin: 0 15px 15px 0;
  text-align: center;
  padding: 10px;
}
